.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2c3e50;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-content {
  text-align: left;
  font-size: large;
  padding: 0 1em 0 1em;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

hr {
	border: none;
	color: #34495e;
	background-color: #2c3e50;
	height: 2px;
}
